@font-face {
    font-family: "MontserratSemiBold";
    src: url("Montserrat-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MontserratBold";
    src: url("Montserrat-Bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MontserratLight";
    src: url("Montserrat-Light.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
